.resultWrapper {
  &[data-score="0"] {
    background-color: var(--mantine-color-red-1);
    border-color: var(--mantine-color-red-2);

    .label {
      color: var(--mantine-color-red-6);
    }
  }
  &[data-score="1"] {
    background-color: var(--mantine-color-orange-1);
    border-color: var(--mantine-color-orange-2);
    
    .label {
      color: var(--mantine-color-orange-8);
    }
  }

  &[data-score="2"] {
    background-color: var(--mantine-color-yellow-1);
    border-color: var(--mantine-color-yellow-2);
    
    .label {
      color: var(--mantine-color-yellow-8);
    }
  }

  &[data-score="3"] {
    background-color: var(--mantine-color-green-1);
    border-color: var(--mantine-color-green-2);

    .label {
      color: var(--mantine-color-green-8);
    }
  }

  &[data-score="4"] {
    background-color: var(--mantine-color-brand-1);
    border-color: var(--mantine-color-brand-2);

    .label {
      color: var(--mantine-color-brand-8);
    }
  }
}
